* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}

/* Header styles */
header {
    background-color: #006241;
    color: #fff;
    padding: 20px 0;
}

/* Navigation styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo img {
    width: 120px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #009139;
}

/* Hero section styles */
#hero {
    position: relative;
    background-color: #ffffff;
    padding: 40px 0;
    text-align: center;
    font-family: 'Stencil Std', fantasy;
      /* "Times New Roman", Times, serif; */ 
    color:#8fb98f
}

.hero-image img {
  width: 600px;
  height: 430px; ;
}

.hero-content h1{
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000a02;
    font-size: 50px;
}

.hero-content h2{
    position: absolute;
    top: -8%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000a02;
    font-size: 30px;
}

.hero-content-p {
    color: #000a02;
    font-size: 28px;
    font-weight: 700;
    font-family:'Courier New', monospace;
    margin: 0% 0;
    margin-top: 5px; 
    margin-left: 10px;
    text-align: center;
    line-height: 40px;
}

/* Button styles */
.btn {
    display: inline-block;
    padding: 10px 50px 20px;
    font-family:Verdana, sans-serif;
    background-color: #7d79cc;
    color: #fff;
    text-decoration: none;
    border: 4mm ridge rgba(211, 220, 50, .6);
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    position: relative; 
    top: 20px;
    left: 0%; 
}

.btn:hover {
    background-color: #add16b;
}

/* Menu section styles */
#menu {
    background-color: #cceaf4;
    padding: 40px 0;
    text-align: center;
}

#menu h2 {
    font-size: 30px;
    font-family:Lucida Console;
    color:#321156;
}

.menu-item {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #59888f;
    border-radius: 5px;
    transition: transform 0.3s;
    display: inline-block;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family:'Courier New', monospace;
}

.menu-item:hover {
    transform: scale(1.05);
}

.menu-item img {
    width: 100%;
    margin-bottom: 10px;
}

.menu-item h3 {
    font-size: 20px;
    color: #333;
}

.menu-item p {
    font-size: 16px;
    color: #e3dddd;
}

/* Locations, Order, Rewards section styles - similar to Menu section styles */
#locations {
    background-color:#b84a86 ;
    padding: 40px 0;
    text-align: left;
    font-family:'OCR A Std', monospace;
    font-size: 20px;
    color:#fef7fd;
}

#order {
    font-size: 20px;
    font-family:'OCR A Std', monospace;
    color:#fef7fd;
    text-align: center;
    background-color:#b84a86 ;
    padding: 40px 0;
}

#rewards {
    font-size: 20px;
    padding: 40px 0;
    color: #fef7fd;
    text-align: right;
    font-family:'OCR A Std', monospace;
    background-color:#b84a86 ;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-content ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.footer-content ul li {
    margin: 0 10px;
}

.footer-content ul li a {
    color: #fff;
    text-decoration: none;
}
